<header>
  <div class="container">
    <a id="a-title" href="/">
      <h1>NOSTDLIB</h1>
    </a>
    <h2></h2>
    <div class="social-links">
      <a href="https://github.com/mrzaxaryan" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/mrzaxaryan" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
</header>
<div class="container">
  <section id="main_content">
    <markdown *ngIf="!post" src="assets/markdown/README.md" (click)="onMarkdownClick($event)"></markdown>
    <markdown *ngIf="post" src="assets/markdown/{{post}}/README.md" (click)="onMarkdownClick($event)"></markdown>
  </section>
</div>